In [7]:
import dataclasses

import pandas as pd
from google.transit import gtfs_realtime_pb2
from parse import parse_trip_update
from datetime import datetime

In [20]:
with open("rome_trip_updates.pb", 'rb') as f:

    feed = gtfs_realtime_pb2.FeedMessage()

    feed.ParseFromString(f.read())

    updates = parse_trip_update(feed)

    columns = list(map(lambda field: field.name, dataclasses.fields(updates[0])))
    df_updates = pd.DataFrame(updates, columns=columns)
    df_updates['date_time'] = list(map(lambda time: datetime.utcfromtimestamp(time), df_updates.time))

df_updates

,trip_id,start_time,start_date,route_id,stop_sequence,delay,time,uncertainty,stop_id,date_time
0,0#836-36,22:00:00,20230823,087,8,-580,1692821240,10,73058,2023-08-23 20:07:20
1,0#836-36,22:00:00,20230823,087,9,-604,1692821248,10,73060,2023-08-23 20:07:28
2,0#836-36,22:00:00,20230823,087,10,-616,1692821284,10,73031,2023-08-23 20:08:04
3,0#836-36,22:00:00,20230823,087,11,-616,1692821312,9,73062,2023-08-23 20:08:32
4,0#836-36,22:00:00,20230823,087,12,-608,1692821352,10,70888,2023-08-23 20:09:12
...,...,...,...,...,...,...,...,...,...,...
12280,VJff637b95cec1b42e5a8692847fde43191302649d,22:00:00,20230823,4458,29,0,1692822234,0,ROME1993,2023-08-23 20:23:54
12281,VJff637b95cec1b42e5a8692847fde43191302649d,22:00:00,20230823,4458,30,0,1692822285,0,ROME1994,2023-08-23 20:24:45
12282,VJff637b95cec1b42e5a8692847fde43191302649d,22:00:00,20230823,4458,31,0,1692822397,0,76278,2023-08-23 20:26:37
12283,VJff637b95cec1b42e5a8692847fde43191302649d,22:00:00,20230823,4458,32,0,1692822431,0,73471,2023-08-23 20:27:11
12284,VJff637b95cec1b42e5a8692847fde43191302649d,22:00:00,20230823,4458,33,0,1692822530,0,ROME6202,2023-08-23 20:28:50

In [21]:
df_updates[df_updates.route_id == "087"]

,trip_id,start_time,start_date,route_id,stop_sequence,delay,time,uncertainty,stop_id,date_time
0,0#836-36,22:00:00,20230823,087,8,-580,1692821240,10,73058,2023-08-23 20:07:20
1,0#836-36,22:00:00,20230823,087,9,-604,1692821248,10,73060,2023-08-23 20:07:28
2,0#836-36,22:00:00,20230823,087,10,-616,1692821284,10,73031,2023-08-23 20:08:04
3,0#836-36,22:00:00,20230823,087,11,-616,1692821312,9,73062,2023-08-23 20:08:32
4,0#836-36,22:00:00,20230823,087,12,-608,1692821352,10,70888,2023-08-23 20:09:12
5,0#836-36,22:00:00,20230823,087,13,-604,1692821420,10,75709,2023-08-23 20:10:20
6,0#836-36,22:00:00,20230823,087,14,-606,1692821442,10,75710,2023-08-23 20:10:42
7,0#836-36,22:00:00,20230823,087,15,-618,1692821476,10,75711,2023-08-23 20:11:16
8,0#836-36,22:00:00,20230823,087,16,-620,1692821514,10,75712,2023-08-23 20:11:54
9,0#836-36,22:00:00,20230823,087,17,-630,1692821560,10,75685,2023-08-23 20:12:40
10,0#836-36,22:00:00,20230823,087,18,-656,1692821576,10,75695,2023-08-23 20:12:56
11,0#836-36,22:00:00,20230823,087,19,-674,1692821634,10,75724,2023-08-23 20:13:54
12,0#836-36,22:00:00,20230823,087,20,-684,1692821702,10,75725,2023-08-23 20:15:02
13,0#836-36,22:00:00,20230823,087,21,-684,1692821736,16,75726,2023-08-23 20:15:36
120,0#837-36,22:00:00,20230823,087,6,-176,1692821046,6,75705,2023-08-23 20:04:06
121,0#837-36,22:00:00,20230823,087,7,-194,1692821060,6,75706,2023-08-23 20:04:20
122,0#837-36,22:00:00,20230823,087,8,-212,1692821076,6,75707,2023-08-23 20:04:36
123,0#837-36,22:00:00,20230823,087,9,-238,1692821086,6,72410,2023-08-23 20:04:46
124,0#837-36,22:00:00,20230823,087,10,-346,1692821220,6,73064,2023-08-23 20:07:00
125,0#837-36,22:00:00,20230823,087,11,-450,1692821276,6,73066,2023-08-23 20:07:56
126,0#837-36,22:00:00,20230823,087,12,-514,1692821318,6,73068,2023-08-23 20:08:38
127,0#837-36,22:00:00,20230823,087,13,-556,1692821350,6,73069,2023-08-23 20:09:10
128,0#837-36,22:00:00,20230823,087,14,-610,1692821436,6,73070,2023-08-23 20:10:36
129,0#837-36,22:00:00,20230823,087,15,-636,1692821482,6,80572,2023-08-23 20:11:22
130,0#837-36,22:00:00,20230823,087,16,-674,1692821536,6,82168,2023-08-23 20:12:16
131,0#837-36,22:00:00,20230823,087,17,-718,1692821578,6,78389,2023-08-23 20:12:58
132,0#837-36,22:00:00,20230823,087,18,-744,1692821654,6,75745,2023-08-23 20:14:14
133,0#837-36,22:00:00,20230823,087,19,-744,1692821676,16,75675,2023-08-23 20:14:36

In [17]:
df_updates[df_updates.time != 0].date_time.sort_values()

7282    2023-08-23 18:32:50
10796   2023-08-23 19:40:51
12018   2023-08-23 19:41:46
12008   2023-08-23 19:41:55
11367   2023-08-23 19:42:01
                ...
7782    2023-08-23 20:47:52
4122    2023-08-23 20:47:54
4096    2023-08-23 20:48:00
8572    2023-08-23 20:51:36
8537    2023-08-23 20:53:22
Name: date_time, Length: 12207, dtype: datetime64[ns]